.non-padding {
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
}

main {
  background-color: black;
  overflow: hidden;
}
main .section1 .inner .bannerSwiper {
  overflow: hidden;
  width: 100%;
  height: 700px;
}
main .section1 .inner .bannerSwiper .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 700px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: start;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: inherit;
}
main .section1 .inner .bannerSwiper .swiper-wrapper .swiper-slide:nth-child(1) {
  background-image: url("../img/main_banner/main_banner1.png");
}
main .section1 .inner .bannerSwiper .swiper-wrapper .swiper-slide:nth-child(2) {
  background-image: url("../img/main_banner/main_banner2@2x.png");
}
main .section1 .inner .bannerSwiper .swiper-wrapper .swiper-slide:nth-child(3) {
  background-image: url("../img/main_banner/main_banner3@2x.png");
}
main .section1 .inner .bannerSwiper .swiper-wrapper .swiper-slide:nth-child(4) {
  background-image: url("../img/main_banner/main_banner4@2x.png");
}
main .section1 .inner .bannerSwiper .swiper-wrapper .swiper-slide .video__container {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 700px;
  overflow: hidden;
  transition: 1s;
  transition-timing-function: ease;
}
main .section1 .inner .bannerSwiper .swiper-wrapper .swiper-slide .video__container .video_scope {
  position: absolute;
  top: -10px;
  min-width: 1600px;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, -120px);
}
main .section1 .inner .bannerSwiper .swiper-wrapper .swiper-slide .banner-box {
  text-align: left;
  display: block;
  z-index: 999;
  padding: 80px;
}
main .section1 .inner .bannerSwiper .swiper-wrapper .swiper-slide .banner-box .main-banner-title {
  font-size: 70px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 24px;
  letter-spacing: -0.25px;
}
main .section1 .inner .bannerSwiper .swiper-wrapper .swiper-slide .banner-box span {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
main .section1 .inner .bannerSwiper .swiper-wrapper .swiper-slide .banner-box p {
  font-size: 14px;
  font-weight: 300;
  color: #e6e6e6;
  margin: 12px 0 30px 0;
  line-height: 1.25rem;
}
main .section1 .inner .bannerSwiper .swiper-wrapper .swiper-slide .banner-box .btn-box {
  display: block;
}
main .section1 .inner .bannerSwiper .swiper-wrapper .swiper-slide .banner-box .btn-box .btn {
  padding: 12px 20px;
  border-radius: 6px;
  font-size: 14px;
  border: none;
}
main .section1 .inner .bannerSwiper .swiper-wrapper .swiper-slide .banner-box .btn-box .btn--play {
  background-color: #e50914;
  color: #fff;
  margin-right: 6px;
}
main .section1 .inner .bannerSwiper .swiper-wrapper .swiper-slide .banner-box .btn-box .btn--detail {
  background-color: #383131;
  color: #fff;
}
main .section1 .inner .bannerSwiper .swiper-wrapper .swiper-slide .banner-box .muted-control-container {
  position: absolute;
  right: 0;
  opacity: 0;
  transition: 1s;
  transition-delay: 1.5s;
}
main .section1 .inner .bannerSwiper .swiper-wrapper .swiper-slide .banner-box .muted-control-container .circle-deco {
  position: absolute;
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  border-radius: 50%;
  bottom: -100px;
  right: 100px;
  cursor: pointer;
}
main .section1 .inner .bannerSwiper .swiper-wrapper .swiper-slide .banner-box .muted-control-container .circle-deco .material-symbols-outlined {
  font-size: 70px;
  transform: scale(0.95);
  cursor: pointer;
}
main .section1 .inner .bannerSwiper .swiper-wrapper .swiper-slide .banner-box .muted-control-container .circle-deco:hover {
  background-color: rgba(214, 214, 214, 0.5);
  border-radius: 50%;
}
main .section1 .inner .bannerSwiper .swiper-wrapper .swiper-slide .banner-box .muted-control-container .circle-deco.on {
  visibility: visible;
  opacity: 1;
}
main .section1 .inner .bannerSwiper .swiper-wrapper .swiper-slide .banner-box .replay-control-container {
  position: absolute;
  right: 0;
  opacity: 0;
  visibility: hidden;
}
main .section1 .inner .bannerSwiper .swiper-wrapper .swiper-slide .banner-box .replay-control-container.on {
  visibility: visible;
  opacity: 1;
}
main .section1 .inner .bannerSwiper .swiper-wrapper .swiper-slide .banner-box .replay-control-container.on:hover > .replay-deco {
  background-color: rgba(214, 214, 214, 0.5);
  border-radius: 50%;
}
main .section1 .inner .bannerSwiper .swiper-wrapper .swiper-slide .banner-box .replay-control-container.on .replay-deco {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  border-radius: 50%;
  bottom: -10px;
  right: 100px;
  transition: 0.5s;
  cursor: pointer;
  transform: rotate(90deg);
}
main .section1 .inner .bannerSwiper .swiper-wrapper .swiper-slide .banner-box .replay-control-container.on .replay-deco #replay__btn {
  font-size: 70px;
  cursor: pointer;
}
main .section1 .swiper-button-next,
main .section1 .swiper-button-prev {
  color: #dedede;
}
main .section1 .swiper-pagination-bullet-active {
  background-color: #e50914 !important;
}
main .section2 .inner {
  position: relative;
  left: 0;
  width: 100%;
  height: 200px;
}
main .section2 .chart {
  position: relative;
  top: 0;
  height: 100%;
}
main .section2 .chart .main-title {
  position: absolute;
  font-size: 35px;
  padding: 20px;
}
main .section2 .chart .sub .sub__detail {
  position: absolute;
  width: 100%;
  top: 100px;
}
main .section2 .chart .sub .sub__detail ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0px;
}
main .section2 .chart .sub .sub__detail ul li {
  list-style: none;
  padding: 12px 20px;
  margin: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  border: 1px solid var(--unnamed-color-707070);
  border: 1px solid #424242;
  border-radius: 6px;
  opacity: 1;
}
main .section2 .chart .sub .sub__detail ul li.active {
  background-color: #fff;
  color: black;
}
main .section2 .chart .sub .sub__detail .all-title {
  text-align: left;
  margin-top: 80px;
  font: normal normal bold 24px/29px Pretendard;
}
main .genre-zone {
  margin-top: 35px;
}
main .section3 .inner {
  position: relative;
  left: 0;
  width: 100%;
  height: 2200px;
}
main .section3 .inner .all-title {
  text-align: left;
  margin-top: 50px;
  font: normal normal bold 24px/29px Pretendard;
}
main .section3 .inner .swiper-zone {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
}
main .section3 .inner .swiper-zone p {
  top: 20px;
}
main .section3 .inner .swiper-zone .albums {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}
main .section3 .inner .swiper-zone .albums .swiper-wrapper {
  gap: 30px !important;
  height: 300px;
  top: -10px;
  display: flex;
  align-items: center;
}
main .section3 .inner .swiper-zone .albums .swiper-wrapper .swiper-slide {
  width: 200px !important;
  align-items: center;
  padding-top: 50px;
}
main .section3 .inner .swiper-zone .albums .swiper-wrapper .swiper-slide:hover {
  transform: scale(1.5);
  transition: 0.5s;
  transition-delay: 0.5s;
  z-index: 999;
}
main .section3 .inner .swiper-zone .albums .swiper-wrapper .swiper-slide.hide {
  display: none;
}
main .section3 .inner .swiper-zone .albums .swiper-wrapper .swiper-slide .album-box {
  position: relative;
  width: 200px;
  min-width: 200px;
  min-height: 200px;
  display: block;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  transform-origin: center;
  cursor: pointer;
  z-index: 1;
}
main .section3 .inner .swiper-zone .albums .swiper-wrapper .swiper-slide .album-box .hoverBox {
  position: absolute;
  width: 100%;
  background: transparent linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 105%) 0% 0% no-repeat padding-box;
  padding-left: 20px;
  height: 50px;
  bottom: 0;
  position: absolute;
  font-size: small;
  line-height: 1.2rem;
  transition: 0.5s;
}

.swiper-button-lock {
  display: block;
}

.swiper-button-prev.mainSwiper0,
.swiper-button-next.mainSwiper0 {
  top: 140px;
  color: white;
  opacity: 0.8;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */